*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/application.yml
config/server.crt
config/server.key
.idea/*
public/uploads

flash/DistributionHeatMap/bin-debug
flash/DistributionHeatMap/bin-release
flash/DistributionMap/bin-debug
flash/DistributionMap/bin-release
flash/bin-debug
flash/bin-release

*.DS_Store