= content_for :body do
  - @charts.each do |chart|
    .chart{ data: { chart: chart } }
  = form_for @users, remote: true do |f|
    = f.select :name, [["Railsの基礎", "rails_base"], ["Rubyの基礎", "ruby_base"]]
    = f.submit


